
html{
    font-family: Arial, Helvetica, sans-serif;
}

#about {
    background-color: #15233E;
    margin-top: 0;
}

#about p  {
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    padding: 50px;
}

/*
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
 nav li {
     display: inline-block;
     margin-left: 70px;
     padding:  25px;  
 }


 nav a {
     text-decoration: none;
     color: navy;
     text-transform: uppercase;
 }

 nav a:hover {
     color: black;
 }
*/


/* Added a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Styled the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Changed the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Added a color to the active/current link */
  .topnav a.active {
    background-color: #ccc7c7;
    color: white;
  }

#webDevelopment {
    background-color: #F7FDFF;
}

#caption {
    position: absolute;
    left: 823px;
    top: 350px;
}

main {
    margin-bottom: 0;
}

.displayimage img {
    margin-bottom: 0;
}

#businessStrategy .heading1 {
    position: absolute;
    top: 615;
    left: 139;
}

#businessStrategy {
    padding: 100px;
}

#businessStrategy img {
    position: relative;
    left: 600px;
}

#webDevelopment {
    padding: 100px;
}

#heading2  {
    position: relative;
    left: 600px;
    bottom: 500px;
}

#socialMedia {
    padding: 100px;
}

#socialMedia img{
    position: relative;
    left: 600px;
}